{% include 'base.html' %}

{% block conten %}
    <form class="form-horizontal" method="POST" action="">
        {% csrf_token %}
        {{ formset.management_form }}
        {#        {{ formset.as_table }}#}
        {#    {% for form in formset %}#}
        {#    <div class="row form-row spacer">#}
        {#        <div class="col-2">#}
        {#            <label>{{form.name.label}}</label>#}
        {#        </div>#}
        {#        <div class="col-4">#}
        {#            <div class="input-group">#}
        {#                {{form.name}}#}
        {#                <div class="input-group-append">#}
        {#                    <button class="btn btn-success add-form-row">+</button>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        {#    </div>#}
        {#    {% endfor %}#}
        {% for form in formset %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                    {{ form.serial_number }}
                    {{ form.ip }}
                    {{ form.type }}
                    {{ form.cabinet_number }}
                    {#            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Text input with segmented dropdown button">#}
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button" value="Add More" id="add_more">Add</button>
                    </div>
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-success" type="submit"  value="Submit">Add</button>
    </form>

    <script>
        $(document).on('click', '#add_more', function (e) {
            e.preventDefault();
            cloneMore('div.input-group:last', 'form');
            return false;
        });

        $(document).on('click', '#remove', function (e) {
            e.preventDefault();
            deleteForm('div.input-group', $(this));
            return false;
        });



    </script>
{% endblock %}


