{% extends "base.html" %}

{% block title %}Включення СЕДО{% endblock %}

{% block content %}
    <table class="table table-sm table-bordered">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Підрозділ</th>
            <th scope="col">Включення</th>
            <th scope="col">Відпрацював оф. ЦАБ</th>
            <th scope="col">АРМ</th>
            <th scope="col">Дія</th>
        </tr>
        </thead>
        <tbody id="myTable">
        {% for sedoAllowance in sedoAllowances %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'allowance_detail_info' sedoAllowance.id %}">{{ sedoAllowance.department.name }}</a>
                </td>
                <td>
                    <strong>Адреса:</strong> {{ sedoAllowance.department.city }} {{ sedoAllowance.department.street }}<br>
                    <strong>Відповідальний за
                        КБ:</strong> {{ sedoAllowance.cyber_user.rank|default_if_none:"" }} {{ sedoAllowance.cyber_user.personal_name }}
                    тел: {{ sedoAllowance.cyber_user.phone }}<br>
                    <strong>Вхідна А0334 №:</strong> {{ sedoAllowance.our_income_number }}
                    <strong>Від: </strong> {{ sedoAllowance.our_income_date }}<br>
                    <strong>Вихідна (вкл-го) підрозділу №:</strong> {{ sedoAllowance.alien_outcome_number }}
                    <strong>Від: </strong> {{ sedoAllowance.alien_outcome_date }}<br>
                </td>
                <td>{{ sedoAllowance.CAB_officer.name }}</td>
                <td>
                    <table class="table table-sm table-borderless">
                        <tr>
                            {#                            <th scope="col">№</th>#}
                            <th scope="col">С/Н</th>
                            <th scope="col">IP</th>
                            <th scope="col">Каб.</th>
                        </tr>
                        {% for computer in computers %}
                            <tr>
                                {% ifequal sedoAllowance.id|stringformat:"s" computer.sedo_allowance|stringformat:"s" %}
                                    {#                                    <td></td>#}
                                    <td>{{ computer.serial_number }}</td>
                                    <td>{{ computer.ip }}</td>
                                    <td>{{ computer.cabinet_number }}</td>
                                {% endifequal %}
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a href="{% url 'edit' sedoAllowance.id %}" style='color:blue'>
                            <i class="far fa-edit"></i>
                        </a>
                        <a href="{% url 'delete' pk=sedoAllowance.id %}" style='color:red'>
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </div>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

        {% if sedoAllowances.has_previous %}
            <li class="page-item">
                <a class="page-link" aria-label="Next" href="?page=1">&laquo; first</a>
            </li>
            <li class="page-item">
                <a class="page-link" aria-label="Next" href="?page={{ sedoAllowances.previous_page_number }}">previous</a>
            </li>
        {% endif %}

        <li class="page-item">
            <div class="page-link">Page {{ sedoAllowances.number }} of {{ sedoAllowances.paginator.num_pages }}.</div>
        </li>

        {% if sedoAllowances.has_next %}
            <li class="page-item">
                <a class="page-link" aria-label="Next" href="?page={{ sedoAllowances.next_page_number }}">next</a>
            </li>
            <li class="page-item">
                <a class="page-link" aria-label="Next" href="?page={{ sedoAllowances.paginator.num_pages }}">last &raquo;</a>
            </li>
        {% endif %}

    </ul>
    </nav>
{% endblock %}