{% extends "base.html" %}

{% block title %}My amazing blog 2{% endblock %}

{% block content %}
<form action="/add" method="post">
    {% csrf_token %}
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Підрозділ</label>
        <div class="col-10">
            <input class="form-control" type="search" placeholder="підрозділ" name="department" value={{ sedoAllowance.department.name }}>
        </div>
    </div>

    <div class="form-group row">
        <label for="example-url-input" class="col-2 col-form-label">Розташування</label>
        <div class="col-3">
            <input class="form-control" type="search" placeholder="№ військове містечко" name="military_number" value = {{ sedoAllowance.department.adress.military_number }}>
        </div>
        <div class="col-1">
            <input class="form-control" type="search" placeholder="місто" name="city" value = {{ sedoAllowance.department.adress.city }}>
        </div>
        <div class="col-4">
            <input class="form-control" type="search" placeholder="вулиця" name="street" value = {{ sedoAllowance.department.adress.street }}>
        </div>
        <div class="col-2">
            <input class="form-control" type="search" placeholder="будинок" name="building" value = {{ sedoAllowance.department.adress.building }}>
        </div>
    </div>

    <div class="form-group row">
        <label for="example-tel-input" class="col-2 col-form-label">Відповідальний за захист інформації в підрозділі</label>
        <div class="col-2">
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="cyber_rank">
                {% for rank in ranks %}
                    {% if sedoAllowance.cyber_user.id != rank.id %}
                        <option selected value="{{ rank.id }}">{{ rank.rank }}</option>
                    {% else %}
                        <option value="{{ rank.id }}">{{ rank.rank }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-4">
            <input class="form-control" type="tel" placeholder="Прізвище" name="cyber_name"  value = {{ sedoAllowance.cyber_user.name}}>
        </div>
        <div class="col-4">
            <input class="form-control" type="tel" placeholder="Номер телефону" name="cyber_number" value = {{ sedoAllowance.cyber_user.phone}}>
        </div>
    </div>

    <div class="form-group row">
        <label for="example-tel-input" class="col-2 col-form-label">Хто відпрацював (вхідний) документ</label>
        <div class="col-4">
            <input class="form-control" type="tel" placeholder="Прізвище" name="worker_name" value = {{ sedoAllowance.worker_user.name}}>
        </div>
        <div class="col-4">
            <input class="form-control" type="tel" placeholder="Номер телефону" name="worker_phone" value = {{ sedoAllowance.worker_user.phone}}>
        </div>
    </div>

    <div class="form-group row">
        <label for="example-password-input" class="col-2 col-form-label">Вхідний номер документу</label>
        <div class="col-5">
            <input class="form-control" type="text" placeholder="Номер документу" name="our_income_number" value = {{ sedoAllowance.our_income_number}}>
        </div>
        <div class="col-5">
            <input class="form-control" type="date" placeholder="Дата" name="our_income_date" value = '{{ sedoAllowance.our_income_date}}'>
        </div>
    </div>
    <div class="form-group row">
        <label for="example-password-input" class="col-2 col-form-label">Вихідний номер документу</label>
        <div class="col-5">
            <input class="form-control" type="text" placeholder="Номер документу" name="alien_outcome_number" value = {{ sedoAllowance.alien_outcome_number}}>
        </div>
        <div class="col-5">
            <input class="form-control" type="date" placeholder="Дата" name="alien_outcome_date" value = {{ sedoAllowance.alien_outcome_date}}>
        </div>
    </div>

    <input type="hidden" name="count" value="1" />
    {% for computer in computers %}
    <div class="form-group row" id="field{{ forloop.counter }}" name="field{{ forloop.counter }}">
        <label for="example-search-input" class="col-2 col-form-label">Заводський(інвент.) номер</label>
        <div class="col-4">
            <input class="form-control" type="search" placeholder="АС3453465" name="serial_number[]" value="{{ computer.serial_number }}">
        </div>
        <div class="col-4">
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="computer_type[]">
                <option selected value="Діловод">Діловод</option>
                <option value="Виконавець">Виконавець</option>
                <option value="Керівник">Керівник</option>
            </select>
        </div>
        <div class="col-1">
            <input class="form-control" type="search" placeholder="Кабінет" name="room_number[]" value={{ computer.cabinet_number }}>
        </div>
        <div class="col-1">
            {% if forloop.counter > 1 %}
                <button id="remove{{ forloop.counter }}" class="btn btn-danger remove-me" >-</button>
            {% else %}
                <button id="b1" class="btn add-more" type="button">+</button>
            {% endif %}
        </div>
    </div>
{% endfor %}
    <div class="form-group row">
        <label for="example-tel-input" class="col-2 col-form-label">Хто відпрацював офіцер ЦАБ</label>
        <div class="col-4">
            <input class="form-control" type="text" placeholder="офіцер" readonly value={{ sedoAllowance.CAB_officer.name }}>
        </div>
    </div>

    <a href='/' class="btn btn-primary" type="submit">На головну </a>
    <button class="btn btn-primary" type="submit">Зберегти</button>
</form>

<script>
$(document).ready(function(){
    var next = 1;
    $(".add-more").click(function(e){
        e.preventDefault();
        var addto = "#field" + next;
        var addRemove = "#field" + (next);
        next = next + 1;
{#        var newIn = '<input autocomplete="off" class="input form-control" id="field' + next + '" name="field' + next + '" type="text">';#}
        var newIn = '<div class="form-group row" id="field' + next + '" name="field' + next + '" >'
                    +'<label for="example-search-input" class="col-2 col-form-label">Заводський(інвент.) номер</label>'
                        +'<div class="col-4"><input class="form-control" type="search" placeholder="АС3453465" name="serial_number[]"> </div>'
                        +'<div class="col-4"> <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="computer_type[]">'
                            +'<option selected value="Діловод">Діловод</option>'
                            +'<option value="Виконавець">Виконавець</option>'
                            +'<option value="Керівник">Керівник</option>'
                        +'</select> </div>'
                    +'<div class="col-1"> <input class="form-control" type="search" placeholder="Кабінет" name="room_number[]"> </div>'
                    +'<div class="col-1"><button id="remove' + next + '" class="btn btn-danger remove-me" >-</button></div><div id="field"></div></div>';
        var newInput = $(newIn);
{#        var removeBtn = '<button id="remove' + (next - 1) + '" class="btn btn-danger remove-me" >-</button></div><div id="field">';#}
        var removeBtn = '';
        var removeButton = $(removeBtn);
        $('#field').after(newInput);
        $(addRemove).after(removeButton);
        $("#field" + next).attr('data-source',$(addto).attr('data-source'));
        $("#count").val(next);

            $('.remove-me').click(function(e){
                e.preventDefault();
                var fieldNum = this.id.charAt(this.id.length-1);
                var fieldID = "#field" + fieldNum;
                $(this).remove();
                $(fieldID).remove();
            });
    });
});
</script>

{% endblock %}