{% load static %}
<!DOCTYPE html>
<html lang="ua">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css"/>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
{#    <script#}
{#  src="https://code.jquery.com/jquery-1.12.4.js"#}
{#  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="#}
{#  crossorigin="anonymous"></script>#}
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/add_remove.js' %}"></script>
    <meta charset="UTF-8">
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
<div class="container">
<div id="sidebar" class="pb-2">
    {% block sidebar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'all_inclusion' %}">Головна</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'all_inclusion' %}">Всі включення <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'all_unit' %}">Включені підрозділи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'computer_add' %}">Додати ПК</a>
                    </li>
                </ul>
                <div class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Пошук" aria-label="Search" id="myInput">
                    <a href=" {% url 'add_inclusion' %}" class="btn btn-outline-info my-2 my-sm-0" type="submit">Додати включення</a>
                </div>
            </div>
        </nav>
    {% endblock %}
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>
</div>
</body>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

</html>